@using System.Collections.Specialized
@{
    ViewData["Title"] = "About";
}
@section Head{
<link rel="stylesheet" href="/css/about.css"/>
}
<section class="font-weight-bold text-white d-flex align-items-center justify-content-center text-center m-5 aboutHeader">
    <div>
        <h1>Blessings Tree Clinic</h1>
        <p>Each one of our employees embody core principles that makes our hospital unique.<br>
            We understand that each patient requires individualized care and we strive to create<br />
            an environment that ensures every patient is comfortable and secure during their stay.<br />
        </p>
    </div>
</section>


<section class="font-weight-bold text-white justify-content-center text-center p-3 m-5 aboutFacilites ">
    <div>
        <h1><u>Facilities</u></h1>
    </div>
</section>
<section class="d-inline-flex text-white font-weight-bold aboutList">
    <div class="ml-5 text-white font-weight-bold justify-content-start">
        <h3 class="font-italic text-center">Laboratory</h3>
        <p>Blessings Tree Clinic has a major emphasis<br/> 
            on research. The advancement of medical <br>    
            capabilities is our secondary focus.</p>
        <img src="https://medical-clinic.cmsmasters.net/wp-content/uploads/2015/01/6-1.jpg" width="300" height="200" class="border border-white border rounded"/>
    </div>
    <div class="ml-5 text-white font-weight-bold justify-content-start">
        <h3 class="font-italic text-center">Dining Area</h3>
        <p>With a vast amount of dining options,  <br/> 
            we strive always have our patients favorite<br>
            meals. Special requests are encouraged.</p>
        <img src="https://i.pinimg.com/originals/71/08/96/710896b8efe051c0efb9fc799798a726.jpg" width="300" height="200" class="border border-white border rounded"/>
    </div>
    <div class="ml-5 text-white font-weight-bold justify-content-start">
        <h3 class="font-italic text-center">Technology</h3>
        <p> Our tech helps our doctors diagnose<br/>
            illnesses and medical conditions in a<br>  
            efficient, accurate and proactive manner. </p>
        <img src="https://blog.thebrokerlist.com/wp-content/uploads/2015/02/20141114-MikeKushner-00046-940x833.jpg" width="300" height="200" class="border border-white border rounded"/>

    </div>
</section>