@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/home.css"/>
<body class="homeBackground">
    <section>
        <img class="image" src="https://logopond.com/logos/956d2a5896145e25706c7db9abb13c58.png"/>
        <div class="text-box justify-content-center">
            <h1>Always there for you and your family </h1>
            <p>Here at Blessing Tree Clinic, we value patients and their families. With a leading medical research facility, <br> 
            we understand that personalized care is what sets our hospital apart. </p>
            <a asp-controller="Home" asp-action="About" class="hero-btn">Visit our About Page to Learn More</a>
        </div>
    </section>
</body>


