@{
    ViewData["Title"] = "Teman Harrison";
}

<div class="text-center text-white font-weight-bold border-white border justify-content-center m-5">
    <h1 >Full Stack Website</h1>

    <p>This website was created with Razor Pages using MVC architecture.<br>
        The design of the page was made with Bootstrap(including custom CSS),<br>
        csHTML, JavaScript and C#. The functionality consists of Microsoft Identity,<br/>
        Authentication, Entity, and MailJet API. Lastly, the backend is handled by a<br/>
        created database to store login info and appointment details.
    </p>

</div>