@media(max-width: 700px) {
    .aboutList div {
        padding-right: 5%;
        padding-block: 3%;
    }

    .aboutHeader p {
        font-size: 10pt;
        text-align: center;
    }

    .aboutHeader h1 {
        font-size: 20pt;
        text-align: center;
       
    }
    .d-inline-flex {
        display: block;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: 0%;
    }
}
